.register-form-container {
    width: 100%;
    max-width: 500px;
    margin: 5px auto 50px;
    padding: 35px 40px;
    background-color: #ffffff;
    border-radius: 18px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.08);
}


/* Tiêu đề */
.register-form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

/* Nhóm input */
.input-group {
    margin-bottom: 22px;
}

/* Label */
.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}

/* Input */
.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.25s ease;
}

/* Hiệu ứng focus */
.input-group input:focus {
    border-color: #388e3c;
    box-shadow: 0 0 6px rgba(26, 115, 232, 0.3);
    outline: none;
}

/* Nút Đăng ký */
.register-form-container button {
    width: 100%;
    padding: 14px;
    background: #388e3c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s;
}

.register-form-container button:hover {
    background: #388e3c;
}

/* Link chuyển sang đăng nhập */
.login {
    text-align: center;
    margin-top: 18px;
    font-size: 15px;
}

.login a {
    color: #388e3c;
    text-decoration: none;
    font-weight: 500;
}

.login a:hover {
    text-decoration: underline;
}
