<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Quản lý khách hàng</title>
</head>
<body>

<header th:replace="admin-dashboard :: header"></header>

<h1 class="dashboard-title">Quản lý khách hàng</h1>

<div class="frame-box table-container">

    <table class="admin-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="c : ${customers}">
            <td th:text="${c.customerId}"></td>
            <td th:text="${c.fullName}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.phone}"></td>

            <td class="action-cell">
                <a th:href="@{'/admin/customers/' + ${c.customerId}}" class="btn-view">Xem</a>

                <!--                <a th:href="@{'/admin/customers/delete/' + ${c.customerId}}"-->
                <!--                   onclick="return confirm('Bạn có chắc muốn xóa khách hàng này?')"-->
                <!--                   class="btn-delete">Xóa</a>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer th:replace="admin-dashboard :: footer"></footer>

</body>
</html>
