<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/admin.css">
    <title>User Detail</title>
</head>
<body>

<header th:replace="admin-dashboard :: header"></header>

<h1 class="dashboard-title">Thông tin chi tiết</h1>

<div class="frame-box" style="width: 60%; margin:auto;">
    <p><strong>Tên tài khoản :</strong> <span th:text="${user.userName}"></span></p>
    <p><strong>Họ và tên:</strong> <span th:text="${user.fullName}"></span></p>
    <p><strong>Loại tài khoản:</strong> <span th:text="${user.role}"></span></p>
    <p><strong>Ngày đăng ký:</strong> <span th:text="${user.registrationDate}"></span></p>

    <p>
        <a href="/admin/users">Back</a> |
        <a th:href="@{'/admin/users/delete/' + ${user.userName}}"
           onclick="return confirm('Chắc chắn xóa tài khoản?')"
           style="color:red;">Delete</a>
    </p>
</div>

<footer class="admin-footer">© 2025 UTE BookStore Admin</footer>

</body>
</html>
