<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Users Management</title>
</head>
<body>

<header th:replace="admin-dashboard :: header"></header>

<h1 class="dashboard-title">Quản lý tài khoản</h1>

<div class="frame-box table-container">

    <table class="admin-table">
        <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Họ và tên</th>
            <th>Loại tài khoản</th>
            <th>Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}" th:if="${u.role != 'ROLE_ADMIN'}">
            <td th:text="${u.userName}"></td>
            <td th:text="${u.fullName}"></td>
            <td th:text="${u.role}"></td>

            <td class="action-cell">
                <a th:href="@{'/admin/users/' + ${u.userName}}" class="btn-view">Xem</a>
                <!--                <a th:href="@{'/admin/users/delete/' + ${u.userName}}"-->
                <!--                   onclick="return confirm('Xóa tài khoản này?')"-->
                <!--                   class="btn-delete">Xóa</a>-->
            </td>
        </tr>
        </tbody>


    </table>

</div>

<footer class="admin-footer">© 2025 UTE BookStore Admin</footer>

</body>
</html>
